@charset "utf-8";
@import "./color";

$xsSize: 0.15em 1em;
$smSize: 0.434em 1em;
$midSize: 0.458em 1em;
$lgSize: 0.6725em 1em;
$xlSize: 0.815em 1em;
$transition: 0.3s;
$borderRadius: 6px;
$roundBorderRadius: 50px;
