@charset "utf-8";

.globalHeader {
    background: hsla(var(--sy-pri-normal), 1);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &__top {
        min-height: 42px;
        max-height: 42px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
            color: hsla(var(--sy-white), 1);
            font-weight: 700;
        }
    }
    &__btm {
        min-height: 51px;
        max-height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            color: hsla(var(--sy-white), 1);
            font-weight: 500;
        }
    }
}
