@charset "utf-8";

.globalHeader {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background: hsla(var(--sy-pri-normal), 1);
    z-index: 1000;

    &__top {
        min-height: 42px;
        max-height: 42px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h3 {
            color: hsla(var(--any-white), 1);
            font-weight: 700;
        }
    }
    &__btm {
        min-height: 51px;
        max-height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            color: hsla(var(--any-white), 1);
            font-weight: 500;
        }

        h1 {
            color: hsla(var(--any-white), 1);
            font-weight: 800;
        }
    }
}
