@charset "utf-8";
@use "../../../../../styles/mixin/mixin";
@use "../../../../../styles/variables/variables";

.teamInfoContainer {
    @include mixin.containerStyle;

    section {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h3 {
        color: hsla(var(--sy-gray-09), 1);
    }
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
