@charset "utf-8";
@use "../../../../../styles/mixin/mixin";
@use "../../../../../styles/variables/variables";

article.teamInfoContainer {
    gap: 8px;
}

.teamInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
