@charset "utf-8";
@use "../../../../styles/mixin/mixin";
@use "../../../../styles/variables/variables";

.planWorkModal {
    // height: 100%;

    & > section:nth-child(2) {
        gap: 16px;
    }
}

.timeSwiperListContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.timeSwiperListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timeSwiper {
    position: relative;
    background: variables.$gradient_input;
    border: variables.$defaultBorder hsla(var(--sy-gray-04), 1);
    border-radius: variables.$borderRadius;
    min-width: 80px;
    max-width: 80px;
    min-height: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;
}

.timeSwiperContainer {
    width: 100%;
    height: 100%;
    min-width: 64px;
    max-width: 64px;
    min-height: 36px;
    max-height: 36px;
}

.timeSwiperItem {
    display: flex;
    align-items: center;
    justify-content: center;
}
