@charset "utf-8";
@use "../../../../../styles/mixin/mixin";
@use "../../../../../styles/variables/variables";

.settingList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settingListItem {
    @include mixin.listItemStyle();

    &__options {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title {
        color: hsla(var(--sy-gray-09), 1);
    }

    a {
        display: flex;
    }
}
