@charset "utf-8";

.globalNav {
    max-height: 49px;
    min-height: 49px;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    padding: 2px 10px;
    width: 100%;
    display: flex;
    box-shadow: 0 -4px 4px 0 hsla(var(--sy-shadow), 0.1);
    z-index: 100;
    &[data-device="ios"] {
        max-height: 83px;
        min-height: 83px;

        .globalNav__item {
            max-height: 49px;
        }
    }

    &__item {
        width: 100%;
        padding: 1px 0;
        display: flex;
        align-items: center;
        color: #c4c4c4;

        &[data-current="true"] {
            a,
            span {
                color: hsla(var(--sy-pri-normal), 1);
            }
        }

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: hsla(var(--sy-gray-04), 1);
        }

        i {
            font-size: 2.2rem;
        }

        span {
            font-size: 1rem;
            font-weight: 1.5em;
            color: hsla(var(--sy-gray-05), 1);
        }
    }
}
